[Locations]
# Path to the bot's main python file
python_file = ./rlbot_bot.py

# Name of the bot's class
bot_name = RLBotAerialBot

[Details]
# These values are optional but useful metadata
name = Aerial Bot
description = AI trained with RLGym-PPO to do aerials
fun_fact = Trained for 15M+ steps
github = 
language = python
